* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #1E1E1E;
  color: whitesmoke;
}

header{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  /* color: #FFF; */
  width: 100%;
  background-color: #1E1E1E;
  box-shadow: 0px 50px 40px rgba(0, 0, 0, 0.2);
}

.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profileBox{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 25%;
}


.nav{
  display: flex;
  /* justify-content: ; */
  width: 50%;
}

.nav-2{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav-2 a {
  color: #D9D9D9;
  text-decoration: none;
}

.searchBar{
  display: flex;
  width: 70%;
  height: 20px;
  padding: 10px 30px;
  background-color: #707072;
  border-radius: 30px;
  border-style: none;
  align-items: center;
}

.logo{
  width: 90px;
  margin: 0px 30px;
}

#Hero{
  width: 100%;
  height: 600px;
  background-color: black;
}


#Categories{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .categorySelector{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

.categButtons{
  padding: 10px;
} */

.blockOfCategories{
  display: flex;
  width: 100%;
  /* justify-content: space-around; */
  justify-content: center;
  align-items: baseline;
  list-style: none;
  flex-wrap: wrap;
}


.blockOfCategories li{
  padding: 0px 35px 0px 35px;
  line-height: 3;
  letter-spacing: 12.5px;
  justify-content: center;
  font-style: italic;
  font-size: 20px;
  font-weight: 600;
  color: #707072;
  height: 60px;
  width: 300px;
  transition: all 0.1s ease-in-out; 
}

.blockOfCategories li a {
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out; 
}

.blockOfCategories li:hover :not(.categorySelected){
  color: #D9D9D9;
  letter-spacing: 5px;
  transition: all 0.3s ease-in-out; 
}

.categorySelected {
  color: #D9D9D9;
  letter-spacing: 5px;
  cursor: default !important;
}

/* .blockOfCategories li:hover{
  height: 60px;
} */

.card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cardBody {
  display: flex;
  width: 250px;
  height: 450px;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 30px;
  margin: 0px 15px 0px 15px;
  background-color: #D9D9D9;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); */
  justify-content: space-around;
  color: #1b1b1b;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.cardBody:hover{
  width: 260px;
  height: 460px;
}

/* .cardBody:hover + .shopCardButton{
  width: 280px;
  height: 460px;
  position: absolute;
  background-color: #707072;
  border-radius: 30px 30px 30px 30px;
} */

.listOfCards{
  display: flex;
  width: 80%;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.searchingBox{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.searching {
  min-height: 552px;
}

.loadingScreen{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  height: 80vw;
  width: 100%;
}


.loaderBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #fff #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}

.cardTitle{
  position: relative;
  /* height: 20px; */
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  overflow: visible;
}

.cardProductType{
  font-size: 12px;
}

.cardImage{
  /* object-fit: contain; */
  height: 225px;
  /* margin-bottom: 30px; */
  /* width: 200px; */
  flex: 0;
}

.cardDescription{
  position: relative;
  font-size: 14px;
  margin: 0px 25px 5px 25px;
  /* bottom: 30px; */
  text-align: center;
}

.cardPrice{
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
  position: relative;
  /* bottom: 10px; */
}

.shopCardButton{
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  align-items: center;
  background-color: #185024;
  border-radius: 10px 10px 30px 30px;
  margin-bottom: 20px;
  width: 190px;
  height: 35px;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.isSaved {
  background-color: rgb(186, 186, 2);
  color: #1b1b1b;
}

.shopCardButton:hover{
  margin-top: 10px;
}

.tiny{
  height: 20px;
}

.tinyLoader{
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid;
  border-color: #fff #0000;
  animation: l1 1s infinite;
}

.loading{
  background-color: #707072;
}


.productBody{
  /* margin-top: 20px; */
  height: 500px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
  /* border: solid red; */
}


.productImage{
  width: 500px;
  margin-left: 30px;
}

.productImageContainer{
  display: flex;
  justify-content: center;
  width: 600px;
  height: 100%;
  /* margin: 40px; */
  border-radius: 0px 30px 30px 0px;
  background-color: #D9D9D9;
}

.productTexts{
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /* border: solid red; */
  text-align: center;
}

.productName{
  font-size: 36px;
  /* font-style: italic; */
  font-weight: 600;
}

.productPrice{
  font-size: 30px;
  font-weight: 500;
}

.addToCartButton{
  border-radius: 30px;
  width: 200px;
  height: 50px;
  font-weight: 600;
  border-style: none;
  background-color: #baba02;
  font-size: larger;
  cursor: pointer;
}

.goBackButton{
  border: none;
  background: none;
  font-size: 40px;
  color: #D9D9D9;
  cursor: pointer;
}

.loginLink, .registerLink{
  text-align: center;
  display: block;
  color: #D9D9D9;
  background-color: darkgoldenrod;
  text-decoration: none;
  padding: 5px;
  width: 150px;
  border-radius: 30px;
  margin-right: 20px;
  font-weight: 600;
}

.shoppingCart{
  display: flex;
  justify-content: center;
}

.cartCardsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 75%;
}

.noProducts{
  font-size: 50px;
  color: #707072;
}

.cartLogo{
  height: 80px;
  width: 80px;
  filter: invert(47%) sepia(6%) saturate(112%) hue-rotate(202deg) brightness(90%) contrast(86%);
}

.total{
  /* border: solid #707072; */
  background-color: #1b1b1b;
  border-radius: 30px;
  display: flex;
  margin-top: 20px;
  width: 25%;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.cartCard{
  display: flex;
  /* border: 1px solid #D9D9D9; */
  font-weight: 600;
  margin-top: 20px;
  align-items: center;
}

.cartCardTitle{
  height: 150px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  margin: 0px 30px;
}

.cartCardPrice{
  font-weight: 400;
}

.cartCardPrice, .cartCardPriceMultiplied{
  height: 150px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  margin: 0px 30px;
}

.cartCardPriceMultiplied{
  font-size: 20px;
}

.cartCardImage{
  height: 150px;
}

.cartCardQuantity{
  width: 50px;
  color: #D9D9D9;
  font-weight: 600;
  background: none;
  border: none;
  margin: 0px 30px;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

.cartCardDeleteButton{
  margin-left: 30px;
  height: 60px;
  width: 140px;
  padding: 0px;
  border-radius: 30px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #D9D9D9;
  font-size: 14px;
  font-weight: 600;
  color: #D9D9D9;
  text-align: center;
  transition: all 0.5s ease;

}

.cartCardDeleteButton:hover{
  background-color: #D9D9D9;
  color: #1E1E1E;
  transition: all 0.5s ease;
  cursor: pointer;

}

.total{
  display: flex;
  justify-content: space-around;
}

.total h3 {
  font-size: 30px;
}

.total h3 b{
  font-size: 20px;
}

.cardPayment {
  color: #D9D9D9 !important;
}

.shoppingCartBuyButton {
  height: 50px;
  width: 140px;
  background-color: #baba02;
  color: #1E1E1E;
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  border-style: none;
  transition: all 0.5s ease;
}

.shoppingCartBuyButton:hover {
  cursor: pointer;
  transition: all 0.5s ease;
}

/* .loginBoxBox{
  width: 100%;
  height: 100%;
} */

.logAndRegisterBox{
  display: flex;
  justify-content: center;
  align-self: center;
}

.loginBox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vw;
}

.loginBox label{
  margin-bottom: 20px;
  font-size: 20px;
}

.loginBox label input{
  border-radius: 30px;
  height: 20px;
}

.loginUsername{
  border-radius: 30px;
}

.loginPassword{
  border-radius: 30px;
}

.loginButton{
  border-radius: 30px;
  width: 100px;
  padding: 10px;
}

.userName{
  margin-right: 20px;
}

.logoutButton{
  text-align: center;
  display: block;
  color: #D9D9D9;
  text-decoration: none;
  padding: 5px;
  width: 150px;
  border-radius: 30px;
  margin-right: 20px;
  font-weight: 600;
  cursor: pointer;
}

.paymentForm{
  width: 100%;
  height: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paymentElement{
  width: 50%;
  margin-bottom: 30px;
}

.paymentForm button{
  width: 50%;
  padding: 20px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 600;
}

.paymentSuccesful{
  color: #2daf49;
  font-size: 50px;
  font-weight: 100;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

footer{
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  background-color: #185024;
  display: flex;
  justify-content: center;
  align-items: center;

}

footer img{
  height: 100px;
}

@media all and (max-width: 768px) {
  .productBody{
    flex-direction: column;
    height: 800px;
    
  }
  .productImageContainer{
    border-radius: 30px 30px 30px 30px;
    align-items: center;
    width: unset;
  }
  .productImage{
    width: unset;
    height: 200px;
    margin-left: unset;
  }
  
}

