:root{
  --fs-400: clamp(3px, 2vw, 20px);
  --fs-500: clamp(5px, 3vw, 30px);
  --fs-600: clamp(10px, 8vw, 50px);
}

html, body{
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

#root{
  height: 100%;
}

body {
  background-color: #161515;
  color: whitesmoke;
}

header{
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: #161515;
  box-shadow: 0px 50px 40px rgba(61, 61, 61, 0.2);
  font-size: clamp(12px, 8vw + 1px, 13.5px);
}

 

.hiddenMenu{
  height: 100%;
  background-color: #185024;
}

.mainHeader{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #161515;
}

.App{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profileBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex: 0.4;
}

.buttonsBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 10px;
}

.headerProfilebox{
  display: flex;
  justify-content: space-around;
  align-self: center;
  /* margin-left: auto; */
}

.loginLink, .registerLink{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  border: solid #2daf49;
  background-color: #2daf49;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 30px;
  margin: 0px 20px;
  font-weight: 600;
  cursor: pointer;
}

.userName{
  color: #1b1b1b;
  background-color: #D9D9D9;
  border-radius: 5px;
  padding: 5px;
}

.logoutButton{
  text-align: center;
  display: block;
  color: #D9D9D9;
  text-decoration: none;
  padding: 5px;
  border-radius: 30px;
  border: solid #940909;
  font-weight: 600;
  cursor: pointer;
  margin: 0px 20px;
}


.nav{
  flex: 1;
  display: flex;
  justify-content: center;
  min-height: 20px;
}

.nav-2{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav-2 a {
  color: #D9D9D9;
  text-decoration: none;
}

.navOptions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.fakeLi{
  list-style: none;
  color: #D9D9D9;
  font-weight: bold;
  margin-right: 20px;
  text-align: center;
}

.searchBar{
  display: flex;
  width: 50%;
  height: 20px;
  padding: 10px 30px;
  background-color: #000;
  border: solid #707072;
  border-radius: 30px;
  /* border-style: none; */
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: all 0.3s ease-in-out; 
}

.searchBar:hover{
  background-color: #707072;
}

.searchLogo{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  filter: invert(100%) sepia(99%) saturate(1%) hue-rotate(56deg) brightness(108%) contrast(100%);
}

.searchDiv{
  display: flex;
  background-color: #161515;
  justify-content: center;
  align-items: center;
  flex: 1;
  /* box-shadow: 0px 50px 40px rgba(0, 0, 0, 0.2); */
}

.logo{
  /* flex: 1; */
  width: 90px;
  margin: 0px 30px;
}

.menuLogo{
  display: none;
}

#Hero{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.heroContent{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  overflow: hidden;
  border-radius: 30px;
  background: rgb(233,8,8);
  background: linear-gradient(308deg, rgba(233,8,8,1) 1%, rgba(126,126,126,1) 100%);
  width: 80%;
}

.hero-image{
  /* height: 400px; */
  max-width: 50%;

  height: auto;
  transition: width 0.5s;
}

.promosText{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #000;
  max-width: 50%;
  font-weight: bold;
  text-align: center;
  height: 300px;
}

.promoTextAfterHero a{
  text-decoration: none;
  color: #000;
}

.heroText1Subtitle{
  font-size: var(--fs-500);
  margin-bottom: 10px;
}

.heroText1Title{
  font-size: var(--fs-600);
  margin-bottom: 10px;
}

.heroText1Footer{
  font-size: var(--fs-400);
  margin-bottom: 10px;
}

.heroText2{
  color: #000;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.contentAfterHeroBox{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 160%;
}

.contentAfterHero{
  display: flex;
  width: 80%;
  height: 100%;
  flex-wrap: wrap;
}

.contentAfterHero::-webkit-scrollbar-thumb {
  background-color: darkgray; /* Color del pulgar */
  border-radius: 5px; /* Bordes redondeados del pulgar */
}

 .promoButton{
  padding: 30px;
  font-size: var(--fs-500);
  font-weight: bold;
  border-radius: 30px;
  background-color: #000000;
  color: #D9D9D9;
  cursor: pointer;
  border-style: none;
}

.promo{
  position: relative;
  display: flex;
  width: 100%;
  font-size: var(--fs-500);
  margin: 10px 5px;
  font-weight: bold;
  border-radius: 30px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: #a20909;
  background: linear-gradient(308deg, #0cd764 1%, #040101 100%);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  z-index: 1;

  color: #000;
}

.promo:hover{
  padding: 2.5px;
}

.promo:hover::before{
  opacity: 1;
}

.promo::before{
  position: absolute;
  content: "";
  border-radius: 30px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(162,9,9);
  background: linear-gradient(308deg, rgba(245,235,235,1) 45%, rgba(4,1,1,1) 100%);
  z-index: -1;
  transition: all 0.2s ease-in-out; 
  opacity: 0;
}

.promoImage{
  max-width: 150px;
  max-height: 100%;
  transition: all ease 0.5s;
}

.promo2Image{
  /* max-width: 7.5vw; */
  max-width: 100px;
  max-height: 100%;
  transition: all ease 0.5s;
}




#Categories{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #161515;
  flex: 2;
}

/* .categorySelector{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

.categButtons{
  padding: 10px;
} */

.blockOfCategories{
  display: flex;
  width: 100%;
  /* justify-content: space-around; */
  justify-content: center;
  align-items: baseline;
  list-style: none;
  flex-wrap: wrap;
}


.blockOfCategories li{
  padding: 0px 35px 0px 35px;
  line-height: 3;
  justify-content: center;
  font-style: italic;
  font-size: 20px;
  font-weight: 600;
  color: #707072;
  height: 60px;
  transition: all 0.1s ease-in-out; 
}

.blockOfCategories li a {
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out; 
}

.blockOfCategories li:hover :not(.categorySelected){
  color: #D9D9D9;
  letter-spacing: 5px;
  transition: all 0.3s ease-in-out; 
}

.categorySelected {
  color: #D9D9D9;
  letter-spacing: 5px;
  cursor: default !important;
}

/* .blockOfCategories li:hover{
  height: 60px;
} */

.card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.cardBody {
  display: flex;
  width: 250px;
  height: 350px;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 30px;
  margin: 0px 15px 0px 15px;
  background-color: #D9D9D9;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); */
  justify-content: space-around;
  color: #1b1b1b;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.cardBody:hover{
  width: 260px;
  height: 360px;
}

/* .cardBody:hover + .shopCardButton{
  width: 280px;
  height: 460px;
  position: absolute;
  background-color: #707072;
  border-radius: 30px 30px 30px 30px;
} */

.listOfCards{
  display: flex;
  width: 80%;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.searchingBox{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.searching {
  min-height: 552px;
}

.loadingScreen{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  height: 80vw;
  width: 100%;
}


.loaderBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #fff #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}

.cardTitle{
  position: relative;
  /* height: 20px; */
  font-size: 18px;
  font-weight: bold;
  /* font-style: italic; */
  /* font-weight: 300; */
  text-align: center;
  overflow: visible;
}

.cardProductType{
  font-size: 12px;
}

.cardImage{
  /* object-fit: contain; */
  height: 225px;
  /* margin-bottom: 30px; */
  /* width: 200px; */
  flex: 0;
}

.cardDescription{
  position: relative;
  font-size: 14px;
  margin: 0px 25px 5px 25px;
  /* bottom: 30px; */
  text-align: center;
}

.cardPrice{
  font-size: 24px;
  font-weight: 600;
  /* font-style: italic; */
  position: relative;
  /* bottom: 10px; */
}

.shopCardButton{
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  align-items: center;
  background-color: #185024;
  border-radius: 10px 10px 30px 30px;
  margin-bottom: 20px;
  width: 190px;
  height: 35px;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.isSaved {
  background-color: rgb(186, 186, 2);
  color: #1b1b1b;
}

.shopCardButton:hover{
  margin-top: 10px;
}

.tiny{
  height: 20px;
}

.tinyLoader{
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid;
  border-color: #fff #0000;
  animation: l1 1s infinite;
}

.loading{
  background-color: #707072;
}


.productBody{
  /* margin-top: 20px; */
  height: 500px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  align-items: center;
  /* border: solid red; */
}


.productImage{
  width: 500px;
  margin-left: 30px;
}

.productImageContainer{
  display: flex;
  justify-content: center;
  width: 600px;
  /* margin: 40px; */
  /* border-radius: 0px 30px 30px 0px; */
  background-color: #D9D9D9;
}

.productTexts{
  display: flex;
  height: 400px;
  width: 60%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /* border: solid red; */
  text-align: center;
}

.productName{
  font-size: 36px;
  /* font-style: italic; */
  font-weight: 600;
}

.productPrice{
  font-size: 30px;
  font-weight: 500;
}

.addToCartButton{
  border-radius: 30px;
  width: 200px;
  height: 50px;
  font-weight: 600;
  border-style: none;
  background-color: #baba02;
  font-size: larger;
  cursor: pointer;
}

.goBackButton{
  margin: 20px;
  background-color: #D9D9D9;
  border: none;
  font-size: 40px;
  height: auto;
  width: 50px;
  border-radius: 30px;
  cursor: pointer;
  z-index: 2;
}

.backgroundGoBackButton{
  background-color: #D9D9D9;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  z-index: 1;
  margin-bottom: 20px;
  margin-left: 20px;
}

.shoppingCart{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cartCardsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.noProducts{
  font-size: 50px;
  color: #707072;
}

.cartLogo{
  height: 80px;
  width: 80px;
  filter: invert(47%) sepia(6%) saturate(112%) hue-rotate(202deg) brightness(90%) contrast(86%);
}

.total{
  /* border: solid #707072; */
  text-align: center;
  border-top: solid #D9D9D9;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  height: 100%;
  right: 0;
}

.total h1, .total input {
  margin-bottom: 30px;
}


.cartCard{
  display: flex;
  /* border: 1px solid #D9D9D9; */
  font-weight: 600;
  margin-top: 20px;
  align-items: center;
}

.cartCardTitle{
  height: 150px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  margin: 0px 30px;
}

.cartCardPrice{
  font-weight: 400;
}

.cartCardPrice, .cartCardPriceMultiplied{
  height: 150px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  margin: 0px 30px;
}

.cartCardPriceMultiplied{
  font-size: 20px;
}

.cartCardImage{
  height: 150px;
}

.cartCardQuantity{
  width: 50px;
  color: #D9D9D9;
  font-weight: 600;
  background: none;
  border: none;
  margin: 0px 30px;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

.cartCardDeleteButton{
  margin-left: 30px;
  height: 30px;
  width: 30px;
  padding: 0px;
  border-radius: 30px;
  background-color: #a20909;
  color: #000;
  border-style: none;
  border-width: 1px;
  border-color: #D9D9D9;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  transition: all 0.5s ease;

}

.cartCardDeleteButton:hover{
  color: #D9D9D9;
  transition: all 0.5s ease;
  cursor: pointer;
}

.total h3 {
  font-size: 30px;
}

.total h3 b{
  font-size: 20px;
}

.cardPayment {
  color: #D9D9D9 !important;
}

.shoppingCartBuyButton {
  height: 50px;
  width: 140px;
  background-color: #baba02;
  color: #1E1E1E;
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  border-style: none;
  transition: all 0.5s ease;
}

.shoppingCartBuyButton:hover {
  cursor: pointer;
  transition: all 0.5s ease;
}



.logAndRegisterBox a {
  margin-right: 20px;
}

.formEnviroment{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.formBox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #185024;
  border-radius: 30px;
  padding: 50px;
  /* height: 50vw; */
  /* flex: 0.4; */
}

.formBox label{
  margin-bottom: 40px;
  font-size: 20px;
}

.formBox label input{
  border-radius: 20px;
  border: none;
  width: 350px;
  height: 30px;
  padding: 15px;
  background-color: #0000005e;
  color: #fff;
  font-weight: bold;
  font-size: 20px
}




.formTitle{
  font-size: clamp(15px, 8vw + 1px,35px);
  margin-bottom: 20px;
  text-align: center;
}

.labelBox{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* width: 100%; */
}

.errorMessageLogin{
  margin-bottom: 40px;
  text-align: center;
}

.usernameTitle{
  margin-top: 10px;
}

.formButton{
  border-radius: 30px;
  padding: 30px;
  border: none;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: clamp(5px, 8vw + 1px,25px);
  margin-bottom: 40px;
  cursor: pointer;
}

.newGoBackButton{
  margin-right: auto;
}

.paymentForm{
  width: 100%;
  height: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paymentElement{
  width: 50%;
  margin-bottom: 30px;
}

.paymentForm button{
  width: 50%;
  padding: 20px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 600;
}

.paymentSuccesful{
  color: #2daf49;
  font-size: 50px;
  font-weight: 100;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

footer{
  width: 100%;
  background-color: #185024;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

footer img{
  height: 80px;
}

.footerContent{
  display: flex;
  width: 400px;
  justify-content: space-around;
  align-items: center;
}

@media all and (max-width: 768px) {

  .nav{
    background-color: #1E1E1E;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    right: 100%;
    z-index: 2;
    transition: all 0.5s ease;
  }

  .notShownInResponsive{
    right: 100%;
  }

  .shownInResponsive{
    right: 0%;
  }

  .navOptions{
    flex-direction: column;
    justify-content: space-around;
    font-size: 25px;
    height: 70%;
  }

  .blockOfCategories li {
    padding: 0 20px;
    font-size: 13px;
  }

  .cardBody{
    width: 120px;
    height: 200px;
  }

  .cardBody:hover{
    width: 120px;
    height: 200px;
  }

  .listOfCards{
    width: 100%;
  }

  .cardImage{
    height: 100px;
  }

  .cardTitle{
    font-size: 14px;
  }

  .cardPrice{
    font-size: 20px;
  }

  .shopCardButton{
    font-size: 12px;
    width: 80px;
    height: 20px;
  }

  .logAndRegisterBox{
    display: none;
  }
  .logo{
    /* display: none; */
    order: 2;
    margin: 0;
    width: 80px;
  }
  .header{
    padding: 20px 0px;
  }
  .menuLogo{
    order: 1;
    display: block;
    width: 30px;
    filter: invert(47%) sepia(6%) saturate(112%) hue-rotate(202deg) brightness(90%) contrast(86%);
    z-index: 3;
  }
  .listOfCards{
    overflow: auto;
    margin-top: 0px;
  }
  .blockOfCategories li:hover :not(.categorySelected){
    letter-spacing: 0px;
  }

  .productBody{
    flex-direction: column;
    height: 800px;
    
  }
  .productImageContainer{
    border-radius: 30px 30px 30px 30px;
    align-items: center;
    width: unset;
  }
  .productImage{
    width: unset;
    height: 200px;
    margin-left: unset;
  }
  .productName{
    font-size: 28px;
  }

  .headerProfilebox{
    display: none;
  }

  .cartCardImage {
    height: 100px;
  }

  .cartCardQuantity{
    margin: 0px;
  }

  .cartCardPrice, .cartCardPriceMultiplied {
    margin: 0px 5px;
  }

  .cartCardPrice{
    font-size: 10px;
  }

  .cartCardDeleteButton {
    margin: 0px;
    height: 15px;
    width: 15px;
    font-size: 10px;
  }

  .cartCardPriceMultiplied{
    font-size: 10px;
  }

  .cartCardQuantity{
    font-size: 10px;
  }

  .cartCardTitle{
    font-size: 12px;
  }

  .formBox label input{
    height: 3px;
  }
  
}

@media all and (max-width: 720px){
  .promoImage{
    max-width: 100px;
  }

  .promo2Image{
    max-width: 75px;
  }

  .promoButton{
    padding: 20px;
  }

  .promosText{
    height: 250px;
  }

  
}

@media (max-width: 500px) {
  .formBox label input{
    width: 250px;
  }

}


@media all and (max-width: 420px){
  .promoImage{
    max-width: 75px;
  }

  .promo2Image{
    max-width: 50px;
  }

  .promoButton{
    padding: 15px;
  }

  .promosText{
    height: 175px;
  }
  
}

@media all and (max-width: 425px){
  .footerContent{
    flex-wrap: wrap;
    font-size: 14px;
    width: 70%;
  }
  .copyrightText{
    margin-bottom: 25px;
    text-align: center;
  }
  .promo:hover{
    padding: 0px;
  }
}

@media all and (max-width: 900px){
  header{
    font-size: clamp(9px, 8vw + 1px, 10px);
  }
 }

 @media all and (min-width: 1600px){
  
 }